@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: #ffffff !Important;
}


@layer base {
    :root {
      --color-primary: #10b981;
      --color-secondary: 111 114 185;
      /* ... */
    }
  }